.orange{

    background-color: orange;
}
.orange{

    background-color: orange;
}
.blue{

    color:blue;
}
.red{

    background-color:red;
}
.yellow{

    background-color: yellow;
}
.purple{

    color:purple;
}

.bold{

    font: bold;;
}
